{% extends 'base.html' %}

{% block title %}About us{% endblock  %}

{% block content %}
<div class="container">
    <div style="height:80vh" class="row">
        <div class="col align-self-center text-center">
            <h1 class="cover-heading">Welcome to Best Cars dealership,</h1>
            <p class="lead">Home to the best cars in North America. We sell domestic and imported cars at reasonable prices.</p>
            <img src="https://imageio.forbes.com/specials-images/imageserve/5d35eacaf1176b0008974b54/2020-Chevrolet-Corvette-Stingray/0x0.jpg?fit=crop&format=jpg&crop=4560,2565,x790,y784,safe" alt="Car Image" style="width:80%;height:450px;">
        </div>
    </div>
</div>
{% endblock  %}