<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Contact Us</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>
    
<body>
    <div class="container">
        <p class="heading-txt" style="font-size: 2em; margin-bottom: 3%; text-align: center;">Contact Us</p>
        <div style="margin-top: 5%;display: flex; justify-content: space-evenly; flex-wrap: wrap;">
        <div class="card mb-3" style="max-width: 18rem;">
            <div class="card-header">Contact Information</div>
            <div class="card-body">
                <h5 class="card-title">Customer Information</h5>
                <p class="card-text">Name: Parth Tripathi </br> Address: Andheri, Mumbai </br> Mobile: 8887779996 </br> Email: Test@bestcardealership.com </p>
            </div>
        </div>
        <!-- <div class="card mb-3" style="max-width: 18rem;">
            <div class="card-header">Contact Information</div>
            <div class="card-body">
                <h5 class="card-title">Customer Information</h5>
                <p class="card-text">Name: Test </br> Mobile: 8887779996 </br> Email: Test@bestcardealership.com </p>
            </div>
        </div>
        <div class="card mb-3" style="max-width: 18rem;">
            <div class="card-header">Contact Information</div>
            <div class="card-body">
                <h5 class="card-title">Customer Information</h5>
                <p class="card-text">Name: Test </br> Mobile: 8887779996 </br> Email: Test@bestcardealership.com </p>
            </div>
        </div> -->
    </div>
</body>   